@import "variables.scss";
@import "mixins.scss";
*{
	padding:$zero;
	margin:$zero;
}
.clear{
	clear:both;
}
.container{
	width:$full;
	max-width:$width_container;
	margin:0 auto;
	height:auto;
}
button{
	@include fontLato($font_size_tiny,$font_thin,$white);
}
.search_bar{
	background-color:$dark_blue;
	width:$full;
	min-height:($height*2)/3;
	height:auto;
}
.search_bar .blocco_sx{
	border-right:1px solid $light_gray;
	float:left;
	min-height:($height*2)/3;
	text-transform:uppercase;
	padding:0px 20px 0px 0px;
}
.search_bar .blocco_sx p{
	margin:15px 0px 0px 20px;
	@include fontLato($font_size_tiny,$font_thin,$light_gray);
}
.search_bar .blocco_sx span{
	margin:0px 0px 0px 20px;
	@include fontLato($font_size_tiny,$font_bold,$light_gray);
}
.search_bar .blocco_dx .search_field{
	float:$left;
	display:inline-block;
	margin:25px 20px 0px 10px;
}
.search_bar .blocco_dx .search_field label{
	@include fontLato($font_size_tiny,$font_thin,$light_gray);
	margin:0px 0px 0px 20px;
}
.search_bar .blocco_dx .search_field input{
		height:$height/4;
		width:$width;
		border:1px solid $dark;
		border:none;
		margin:0px 0px 0px 20px;
}
.search_bar .blocco_dx .search_field i{
	color:$light_gray;
	position:$relative;
	left:-25px;
}
#correct_btn{
	padding:6px 10px!important;
	height:30px!important;
}

.section_travel_package h3,.section_travel_package p{
	text-align:center;
}
.section_travel_package h3{
	margin-top:30px;
	@include fontLato($font_size_medium,$font_extra_bold,$dark_blue);
	text-transform:uppercase;
}
.section_travel_package p{
	@include fontLato($font_size_tiny,$font_thin,$dark_blue);
	margin-bottom:60px; 
}
.section_travel_package{
	text-align:center;
}
.travel_post{
	width:20%;
	min-height:$height*2;
	background-color:$light_gray;
	float:$left;
	margin:20px 20px 20px 0px;
	b,p{float:$left;text-align:$left;}
	b{
		margin:5px 0px 5px 10px;
		@include fontLato($font_size_small,$font_regular,$dark);
	}
	p{
		margin:0px 0px 5px 10px;
		@include fontLato($font_size_tiny,$font_thin,$dark);
	}
}
.travel_img{
	width:100%;
	height:$height+50px;
	background-size:cover;

}
@for $i from 1 through 4 {
	#img-#{$i} {
        background-image:url("../img/"+$i+".jpg");
    }
}

.section_background{
	width:$full;
	height:$height*4;
	background-color:$dark_blue;
	opacity:0.8;
	margin-top:100px;
	background-image:url("../img/dubai.jpg");
	background-size:cover;
	background-position:bottom center;
	background-repeat:no-repeat;
	padding-top:100px;
}
.section_pack{
	width:$width/2;
	text-align:center;
	float:$left;
	margin-left:20px;
	span{
		@include fontLato($font_size_small,$font_regular,$light_gray);
	}
	&:hover{
		color:$light_green;
		i{
			color:$light_green;
		}
		.circle{
			border:2px solid $light_green;
		}
		.section_pack span{
			color:$light_green!important;
		}
	}
}
.circle{
	border:2px solid $light_gray;
	width:$width/3;
	height:$height/1.5;
	border-radius:$full/2;
	margin:0 auto;
	i{
		color:$light_gray;
		position:$relative;
		top:15px;
		font-size:$font_size_big;
	}
}

@media screen and (max-width:768px){
  .search_field{
  	float:left;
  }
}