
//color variables
$red:red;
$light_gray:#dedede;
$dark:#000;
$dark_blue:#2E3D51;
$light_green:#20D1AF;
$white:#fff;

//position elements
$static:static;
$fixed:fixed;
$absolute:absolute;
$relative:relative;
$left:left;
$right:right;

//mesaures variables
$zero:0px;
$width:200px;
$height:100px;
$width_container:992px;
$height_half:$height/2;
$height_third:$height/3;
$full:100%;
$half:50%;
$auto:auto;

//font varibles
$font_size_tiny:12px;
$font_size_small:18px;
$font_size_medium:24px;
$font_size_big:36px;
$font_size_extra:48px;

$font_thin:100;
$font_light:300;
$font_regular:400;
$font_bold:600;
$font_extra_bold:900;