@import "../variables.scss";
@import "../mixins.scss";
header{
	width:$full;
	min-height:$height_third;
	height:auto;
	background-color:$dark_blue;
	position:$static;
	
	@include fontLato($font_size_tiny,$font_thin,$light_gray);
	i{
		margin:10px 20px;
	}
	span{
		@include fontLato($font_size_tiny,$font_thin,$light_green);
	}
	.blocco_sx{
		float:$left;
	}
	.blocco_dx{
		float:$right;
		width:$width+10px;
	}
}

.subheader{
	background-color:$white;
	height:$height/2;
	width:$full;
	padding:15px 0px 0px;
	@include fontLato($font_size_medium,$font_bold,$dark_blue);
	text-transform:uppercase;
	span{
		color:$light_green;
	}

}
.subheader .blocco_sx{
		float:$left;
		padding-left:20px;
	}
.subheader .blocco_dx{
		float:$right;
		padding-right:20px;
		.search{
			width:$width/8;
			height:$height/4;
			border:2px solid $dark_blue;
			border-radius:$full/2;
			float:$right;
			i{
				position:$relative;
				font-size:$font_size_tiny;
				top: -7px;
    			left: 7px;
			}
			&:hover{
    				color:$light_green;
    				border-color:$light_green;
    		}
		}
	}

.subheader ul {
		list-style-type:none;
		float:$left;
		li{
			float:$left;
			@include fontLato($font_size_tiny,$font_bold,$dark_blue);
			padding:10px 20px 0px 0px;
			&:hover{
				color:$light_green!important;
			}
		}
	}

@media screen and (max-width:768px){
	header .blocco_dx{
		float:none;
		text-align:center;
	}
}