header {
  width: 100%;
  height: 33.33333px;
  background-color: #2E3D51;
  position: static;
  font-size: 12px;
  font-weight: 100;
  color: #dedede;
  font-family: "Lato",sans-serif; }
  header i {
    margin: 10px 20px; }
  header span {
    font-size: 12px;
    font-weight: 100;
    color: #20D1AF;
    font-family: "Lato",sans-serif; }
  header .blocco_sx {
    float: left; }
  header .blocco_dx {
    float: right;
    width: 200px; }

.subheader {
  background-color: #fff;
  height: 50px;
  width: 100%;
  padding: 15px 20px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #2E3D51;
  font-family: "Lato",sans-serif;
  text-transform: uppercase; }
  .subheader span {
    color: #20D1AF; }
  .subheader,
  .subheader .blocco_sx {
    float: left; }
  .subheader,
  .subheader .blocco_dx {
    float: right; }
    .subheader .search,
    .subheader .blocco_dx .search {
      width: 33.33333px;
      height: 33.33333px;
      border: 2px solid #2E3D51;
      border-radius: 50%;
      float: right; }
  .subheader,
  .subheader ul {
    list-style-type: none; }
    .subheader li,
    .subheader ul li {
      float: left;
      font-size: 12px;
      font-weight: 600;
      color: #2E3D51;
      font-family: "Lato",sans-serif;
      padding: 10px 20px 0px 0px; }
      .subheader li:hover,
      .subheader ul li:hover {
        color: #20D1AF !important; }
