.slider {
  width: 100%;
  height: 400px;
  background-color: #dedede;
  opacity: 0.5; }
  .slider .nav-slider {
    width: 100%;
    height: 50px;
    position: relative;
    top: 200px; }
  .slider .nav-prev, .slider .nav-next {
    text-align: center; }
  .slider,
  .slider .nav-prev {
    float: left; }
  .slider,
  .slider .nav-next {
    float: right; }
  .slider i {
    width: 50px;
    height: 50px;
    background-color: #20D1AF; }
